# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Data (don't commit raw/large data)
data/*.csv
!data/.gitkeep

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# IDE
.vscode/
.idea/
